div#tagline{
    text-align: center;
}
h1.navbar-brand a{
     margin-top: 10px;
     color: #fff;
     font-size: 20px;
     font-weight: bold;
}
nav.navbar.navbar-inverse{
    margin-bottom: 0;
}
span.red{
    color: red;
}
div.jumbotron{
    background-color: #2aabd2;
    border-radius: 0;
}
header .navbar{
    border-radius: 0;
}
#content{background-color: #fff}
#sidebar{background-color: grey}